		body {
		    padding: 0;
		    padding-top: 70px;
		    margin: 0;
		    margin-bottom: -20px;
		    background-color: #f8f8f8; 
		}

		html, body, #map {
		    height: 100%;
		}

		#map{
			margin-top: -20px;
		}
		.navbar {
			margin-bottom: 0;
		}
